#headerbox{
	width:1200px;
	float:left;
}



header{
	width:250px;
	float:left;
}
@font-face {
	font-family: 'MyWebFont';
	src: url('Quicksand_Light.otf'); /* IE9 Compat Modes */
	}
@font-face {
	font-family: 'Neord';
	src: url('NEORD___.ttf'); /* IE9 Compat Modes */
	}	
h1 {
       font-family: 'MyWebFont', Fallback, sans-serif;
       font-size:43px;
       margin-bottom: 0px;
        float:left;  
}
h2{
	font-family: 'Neord', Fallback, sans-serif;
	font-size: 30px;
}
h3{
	font-family: 'MyWebFont', Fallback, sans-serif;
       font-size:20px;
}
a{
	font-family: 'Neord', Fallback, sans-serif;
	font-size: 30px;
	color:black;
	text-decoration:none;
}
a:hover{
	background:none;
	color:#D17869;
	
}

#nav li a{
	color:black;
	display:block;
	background:none;
	padding:5px 15px;
	text-decoration:none;
	text-transform:uppercase;
	border-right:1px solid white;
	
}
#nav li a:hover{
	background:none;
	color:#D17869;
	
}

#nav{
	padding:0;
	margin:0;
	list-style:none;
}


img{

	float: left;
	border: 13px solid;
	margin: 0 auto;
	border-radius: 8px;
}
#content{
	width: 755px;
	float: left;
   
}

#box1{
	width:755px;
	padding:0px 0px 30px 0px;
	margin:0 0px 0px 0px;
	float: left;
}
#box2{
	width:990px;
	margin:0 0px 0px 0px;
	padding: 10px;
	margin: 0 auto;
	border:20px solid black;
	border-radius: 10px;
}
.team{
	width:400px;
	height:75px;
	padding:0;
	border:1px solid black;
	margin:0;
}
.win{
	width:190px;
	height:75px;
	padding:0;
	border:1px solid black;
	margin:0;
}
.lose{
	width:190px;
	height:75px;
	padding:0;
	border:1px solid black;
	margin:0;
}
.percent{
	width:190px;
	height:75px;
	padding:0;
	border:1px solid black;
	margin:0;
}
#team{
	float:left;
}

#win{
	float:left;
}

#lose{
	float:left;
}	

#percent{
	float:left;
}

#box3{
	width:755px;
	padding:0px 0px 30px 0px;
	margin:0 0px 0px 0px;
	float: left;
}
#box4{
	width:990px;
	margin:0 0px 0px 0px;
	padding: 10px;
	margin: 0 auto;
	border:20px solid black;
	border-radius: 10px;

}
.row2{
	width:160px;
	height:160px;
	padding:0;
	border:1px solid black;
	margin:0;
}

#week{
	float:left;
}
#submitbutton{
   border-top: 1px solid #96d1f8;
   background: #2b2525;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d0c0c), to(#2b2525));
   background: -webkit-linear-gradient(top, #0d0c0c, #2b2525);
   background: -moz-linear-gradient(top, #0d0c0c, #2b2525);
   background: -ms-linear-gradient(top, #0d0c0c, #2b2525);
   background: -o-linear-gradient(top, #0d0c0c, #2b2525);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#submitbutton:hover {
   border-top-color: #292728;
   background: #292728;
   color: #ccc;
   }
#submitbutton:active {
   border-top-color: #d16c5a;
   background: #d16c5a;
   }
   #schedule_button{
   border-top: 1px solid #96d1f8;
   background: #2b2525;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d0c0c), to(#2b2525));
   background: -webkit-linear-gradient(top, #0d0c0c, #2b2525);
   background: -moz-linear-gradient(top, #0d0c0c, #2b2525);
   background: -ms-linear-gradient(top, #0d0c0c, #2b2525);
   background: -o-linear-gradient(top, #0d0c0c, #2b2525);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#schedule_button:hover {
   border-top-color: #292728;
   background: #292728;
   color: #ccc;
   }
#schedule_button:active {
   border-top-color: #d16c5a;
   background: #d16c5a;
   }
   #game_a{
   list-style: none;
   }
   #game_a li:first-child{
   	float:left;
   }
   #game_a p{
   	float:left;
   }
   #game_a li:nth-child(2){
   	float:left;
   }
    #game_b{
 	list-style: none;
   }
   #game_b li:first-child{
   	float:left;
   }
   #game_b p{
   	float:left;
   }
   #game_b li:nth-child(2){
   	float:left;
   }
/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 647px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/

	/* style for horizontal nav */
#navigation_horiz {width:820px; clear:both; padding:0 0 0 0; margin:0 auto}
#navigation_horiz  ul {height:50px; display:block}
#navigation_horiz  ul li {display:block; float:left; width:20px; height:150px; background:none; margin:0 1px 0 0; position:relative}
#navigation_horiz  ul li a.navlink {display:block; width:50px; height:30px; padding: 150px 0 0 0; text-align:center; color:#fff; text-decoration:none}
#navigation_horiz .dropdown {position:absolute; padding:28px; padding-left: 0px; border-bottom-right-radius:10px; opacity: 1 ;border-bottom-left-radius:10px; -moz-border-radius-bottomright:10px; -moz-border-radius-bottomleft:10px}

/* style for each drop down - horizontal */
    #navigation_horiz ul li #dropdown_one {color:black; width: 20px}
    #navigation_horiz ul li #dropdown_one a {color:black; width: 20px;}
        #navigation_horiz ul li #dropdown_one a:hover {
color: #D17869;
text-shadow: 0px 0px 20px white;
}
    #navigation_horiz ul li #dropdown_two {background:#ccc; color:#fff}
    #navigation_horiz ul li #dropdown_two a {color:black}
    #navigation_horiz ul li #dropdown_three {background:#ccc; color:#fff}
    #navigation_horiz ul li #dropdown_three a {color:gray}

    #dropdown_one{top:150;}

